pki_roles = {
  server = {
    allowed_domains  = ["example.com"]
    allow_subdomains = false
    ttl              = "24h"
    max_ttl          = "168h"
    generate_lease   = false
    no_store         = false
    key_type         = "ec"
    key_bits         = 256
    issuer_ref       = "default"
  }
}
